## String Question

In [1]:
data = """ Born	Nishant Khurrana[1] 14 September 1984 (age 38) Chandigarh, India
Occupations	 Actorsinger
Years active	2004–present
Works	Full list
Spouse	Tahira Kashyap ​(m. 2008)​
Children	2
Relatives	Aparshakti Khurana (brother)"""

## THIS IS  a string which need to convert into a dataframe .

In [2]:
lines = data.split('\n')

In [4]:
keys = [line.split('\t')[0] for line in lines]
values = [ '\t'.join( line.split('\t')[1:] ) for line in lines ]

In [7]:
import pandas as pd
df = pd.DataFrame({'key' : keys , 'value' : values} )

In [8]:
df

            key                                              value
0          Born  Nishant Khurrana[1] 14 September 1984 (age 38)...
1   Occupations                                        Actorsinger
2  Years active                                       2004–present
3         Works                                          Full list
4        Spouse                         Tahira Kashyap ​(m. 2008)​
5      Children                                                  2
6     Relatives                       Aparshakti Khurana (brother)

In [13]:
## Find prime number between 2 and 100

prime_numbers = []

for num in range(2,101):
    is_prime = True
    for i in range(2 , int(num ** 0.5) + 1 ):
        if num % i == 0:
            is_prime = False
            break
            
    if is_prime:
        prime_numbers.append(num)
        
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]